/* src/styles/ProductPage.css */

.product-page {
    padding: 20px;
}

.product-page .product-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.product-page img {
    width: 300px; /* Increase the width of the image */
    height: 300px; /* Increase the height of the image */
    object-fit: cover;
    border-radius: 8px;
    margin-top: 25px; /* Görseli aşağı kaydır */
}

.product-page .product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product-page h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-page p {
    margin: 5px 0;
    color: #495057;
}

.product-page .favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: gray;
    margin-left: 10px;
}

.product-page .favorite-button.red {
    color: red;
}

.product-page .seller-info {
    margin-top: 20px;
}

.product-page .seller-info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.product-page .seller-info-item p {
    flex: 1;
    text-align: left;
    margin: 0 10px;
}

.product-page .attributes {
    margin-top: 20px;
    text-align: center; /* Center the attributes section */
}

.product-page .attributes h3 {
    margin-bottom: 10px;
}

.product-page .attributes .attribute-item {
    display: inline-block;
    margin: 5px 10px; /* Add some spacing between attributes */
}

.product-page .attributes .attribute-item p {
    margin: 0;
}